/* * {
    outline: 2px green;
    margin: 0;
    padding: 0;
    font-size: 16px; 
} */
body {
    background-image: url(https://storage.needpix.com/rsynced_images/chess-board-1473668683CKw.jpg);
    width: 100%;
     margin: 0 auto; /*Centers the element */
}
header {
    display: inline-block;
    background-image:url(http://www.unitysnippets.theoriginalyeti.co.uk/images/resources/textures/textureBank/wood/wood004_DIFF.jpg) ;
    width: 100%;
    padding: 2px;
}
header h1 {
    font-size: 45px;
    color: whitesmoke;
    float: left;
    margin: 0 auto;
    /* background-color: red; */
    z-index: 2;
    position: relative;
}
header img {
    float: left;
    z-index: 1;
    position: relative;
    left: -120px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}
ul {
    /* background-color: brown; */
    margin-top: 45px;
    margin-right: 5px;
    display: inline-block;
    float: right;
}

li {
    list-style: none;
    display: inline-block;
    margin: 2px;
}

aside {
    width: 12%;
    float: right;
    clear: right;
}
.stuff {
    float: left;
    width: 75%;
    background: gray;
    height: 350px;
    border: black;
    margin: 0 auto;
    clear: left;
    
}
stuff
footer {
    background-color: blue;
    clear: both;
}


